
.container1{
    background-image: url(image/cat\ pngg\ 1.png);
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    height: 25vh;
    width: 250vh;
    justify-content: space-evenly;
}
.container1 h1{
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
  width: 50%;
  padding: 10px;
}
.container1 p{
    align-items: center;
    display: flex;
    margin: auto;
    text-align: center;
  width: 50%;
  padding: 10px;
}
.wd{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    line-height: 2.5;
}